@model TranspoFinal2.Models.Passenger
@{
    ViewData["Title"] = "Sign Up!";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <style>

        body {
            margin: auto;
            background: linear-gradient( #de9b35, #FEB58A) fixed; /* W3C, IE 10+ / Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            font-family: 'Open Sans', sans-serif;
        }

       
.register-block{
   
float:left;
width:100%;
padding : 50px 0;
}
        .banner-sec {
            background: url(https://images.unsplash.com/photo-1524586104882-01c22c04214c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80) no-repeat bottom ;
            height:777px;
            width:639px;
            min-height: 500px;
            border-radius: 0 10px 10px 0;
            padding: 0;
        }
.container{background:#fff; border-radius: 10px; box-shadow:15px 20px 0px rgba(0,0,0,0.1);}
.carousel-inner{border-radius:0 10px 10px 0;}
.carousel-caption{text-align:left; left:5%;}
.register-sec{padding: 50px 30px; position:relative;}
.register-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
.register-sec .copy-text i{color:#FEB58A;}
.register-sec .copy-text a{color:#E36262;}
        .register-sec h2 {
            margin-bottom: 30px;
            font-weight: 800;
            font-size: 30px;
            color: #de9b35;
        }
        .register-sec h2:after {
            content: " ";
            width: 100px;
            height: 5px;
            background: #FEB58A;
            display: block;
            margin-top: 20px;
            border-radius: 3px;
            margin-left: auto;
            margin-right: auto
        }
        .btn-register {
            background: #FEB58A;
            color: #fff;
            font-weight: 600;
        }
            .btn-register:hover {
                background: #de9b35;
                color: #fff;
                font-weight: 600;
            }
.banner-text{width:70%; position:absolute; bottom:40px; padding-left:20px;}
.banner-text h2{color:#fff; font-weight:600;}
.banner-text h2:after{content:" "; width:100px; height:5px; background:#FFF; display:block; margin-top:20px; border-radius:3px;}
.banner-text p{color:#fff;}

    </style>
</head>
<body>
    <br />
    <br />
    <br />
    

    <section class="register-block">
        <div class="container">
            <div class="row">
                <div class="col-md-4 register-sec">
                    <h2 class="text-center">Register Now</h2>
                    <form asp-action="ViewAddCardInfo" class="register-form" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="exampleInputName1">Name:</label>
                            <input asp-for="pass_name" type="text" required class="form-control" placeholder="Name...">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputAddress1">ID:</label>
                            <input asp-for="pass_ID" type="text" required class="form-control" placeholder="ID...">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputAddress2">Birthday:</label>
                            <input asp-for="brth" type="date" required class="form-control" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail">Email:</label>
                            <input asp-for="pass_email" type="email" required class="form-control" placeholder="Email...">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input asp-for="pass_psw" type="password" required class="form-control" placeholder="Password...">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputTown1">Upload Photo: (Not Necessary)</label>
                            <input asp-for="file1" type="file">
                        </div>



                        <div class="form-check">
                            <button type="submit" class="btn btn-register float-right">Next</button>
                        </div>

                    </form>
                </div>
                <div class="col-md-8 banner-sec">
                </div>
            </div>
        </div>
    </section>

</body>

</html>

