@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600);

.snip1336 {
    font-family: 'Roboto', Arial, sans-serif;
    position: absolute;
    overflow: hidden;
    margin: 10px;
    width: 50%;
    color: #ffffff;
    text-align: center;
    line-height: 1.4em;
    background-color: #141414;
}

    .snip1336 * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.25s ease;
        transition: all 0.25s ease;
    }



    .snip1336 figcaption {
        width: 100%;
        background-color: #141414;
        padding: 25px;
        position: relative;
        text-align:left;
    }

        .snip1336 figcaption:before {
            position: absolute;
            content: '';
            bottom: 100%;
            left: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 55px 0 0 400px;
            border-color: transparent transparent transparent #141414;
        }

        .snip1336 figcaption a {
            padding: 5px;
            border: 1px solid #ffffff;
            color: #ffffff;
            font-size: 0.7em;
            text-transform: uppercase;
            margin: 10px 0;
            display: inline-block;
            opacity: 0.65;
            width: 47%;
            text-align: center;
            text-decoration: none;
            font-weight: 600;
            letter-spacing: 1px;
        }

            .snip1336 figcaption a:hover {
                opacity: 1;
            }

    .snip1336 .profile {
        border-radius: 50%;
        position: absolute;
        bottom: 100%;
        left: 25px;
        z-index: 1;
        max-width: 90px;
        opacity: 1;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    }

    .snip1336 .follow {
        margin-right: 4%;
        border-color: #2980b9;
        color: #2980b9;
    }

    .snip1336 h2 {
        margin: 0 0 5px;
        font-weight: 300;
    }

        .snip1336 h2 span {
            display: block;
            font-size: 0.5em;
            color: #2980b9;
        }

    .snip1336 p {
        margin: 0 0 10px;
        font-size: 0.8em;
        letter-spacing: 1px;
        opacity: 0.8;
    }
@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

#myImg:hover {
    opacity: 0.7;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}